/* container */
.container {width: 1000px; margin: 0 auto;}

/* row  */
.row {
    margin: 0 20px; position: relative;}

/* header */
#header {height: 100px;}
#header .header-date{
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #a8a8a8;
    display: block;padding-top: 30px; 
    
}
#header .header-title{
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid #ebebeb;
}

#header .header-id{
    position: absolute; right: 0;bottom: 10px;  
    width: 40px;
    height: 40px;
    background: linear-gradient(138.24deg, #A4A9B5 9.95%, rgba(164, 169, 181, 0) 76.42%), #C4C4C4;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.music{

}
.bestMusic{

}
.best {}
.best .best-title {}
.best .best-title .bt-stitle{color: #DA5B7C; font-weight: 300;}
.best .best-title .bt-title{font-size: 22px;}
.best .best-title .bt-desc{font-size: 22px; letter-spacing: -0.7px;color: #818181; font-weight: 300; margin-bottom: 10px;}





/* mediaquery */
@media (max-width :1000px){
    .container {width: 100%; }

}


